.t-notifications {
  color: #333;
  margin-top: 50px;
  padding: 0 20px;
  /* font-family: 'Arial', sans-serif; */
  background-color: #f9f9f9;
}

.noti-card {
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px 30px;
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease, transform 0.2s ease-in-out;
  cursor: pointer;
}

.noti-card:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}

.noti-title {
  font-size: 0.5rem;
  font-weight: 600;
  margin-bottom: 5px;
  color: #333;
  letter-spacing: 0.5px;
}

.noti-datetime {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: #777;
  align-items: center;
  margin-bottom: 20px;
}

.noti-datetime div {
  font-size: 0.85rem;
  color: #aaa;
}

@media (max-width: 600px) {
  .noti-card {
    padding: 15px 20px;
  }
  .noti-title {
    font-size: 1rem;
  }
  .noti-datetime {
    font-size: 0.85rem;
  }
}
