.t-patientlist {
    color: black;
  }
  .t-patientlist p {
    color: black;
    margin-top: 100px;
  }
  .t-patientlist {
    padding: 20px;
    /* font-family: Arial, sans-serif; */
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .patient-list {
    list-style: none;
    padding: 0;
  }
  
  .patient-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .patient-card:hover {
    transform: scale(1.02);
  }
  
  .patient-details {
    margin: 5px 0;
  }
  